<h1>レビューの編集</h1>

<%= render 'restaurant' %>

<% if @review.id and current_user.id != @review.user_id %>
  <div>
    <p>他のユーザーのレビューは編集できません！</p>
    <%= link_to 'もどる', :back, class: "btn btn-default" %>
  </div>

<% else %>

  <%= render 'form' %>

<% end %>
